.jfx-slider StackPane, .jfx-slider .thumb {
    -fx-background-color: #f28b15;
}

.series0.chart-bar {
    -fx-background-color: #00b004;
}

.series1.chart-bar {
    -fx-background-color: #80807f;
}

.chart-content {
    -fx-max-height: 50;
}

/*.blackkey {*/
/*-fx-background-color: #333;*/
/*-fx-border-width:1px 2px 7px;*/
/*-fx-border-style:solid;*/
/*-fx-border-color:#666 #222 #111 #555;*/
/*-fx-box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);*/
/*-fx-border-radius:0 0 2px 2px;*/
/*}*/



